<div id="app">
  <v-app light>
    <navbar></navbar>
    <main>
      <v-container fluid class="mt-0">
        <router-view></router-view>
      </v-container>
    </main>
  </v-app>
</div>
<%= javascript_pack_tag 'main' %>